
@{
    ViewBag.Title = "Index";
}

@foreach (var category in ViewBag.Categories)
{
    <p>@category.CategoryName</p>
    <a href="/Category/Show/@category.CategoryId">Show category informations</a>
    <br /><br />
}

<a href="/Category/New">Create new category</a>
