
@{
    ViewBag.Title = "New";
}

<h2>New Category</h2>

<form action="/Category/New" method="post">
    <label for="CategoryName">Name</label>
    <input type="text" name="CategoryName" />

    <button type="submit">Add</button>
</form>
