
@{
    ViewBag.Title = "Show";
}

<h1>@ViewBag.Category.CategoryName</h1>
<hr />
<img src="@ViewBag.Category.Photo" alt="Category picture" />
<a href="/Category/Edit/@ViewBag.Category.CategoryId">Edit Category</a>

<form action="/Category/Delete/@ViewBag.Category.CategoryId" method="post">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type ="submit">Delete Category</button>
</form>

<br />
<a href="/Category/Index">Go back</a>