@{
    ViewBag.Title = "Index";
}

<div class="row">
    @{
        List<TheWardrobe.Models.Product> products = ViewBag.Products;
        for (int i = 0; i < products.Count(); i++)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <a class="link-unstyled" href="/Product/Show?productId=@products[i].ProductId">
                    <div class="card card-product-grid px-0">
                        @if ((DateTime.Now - products[i].DateAdded).TotalHours <= 24)
                        {
                            <span class="badge badge-success position-absolute" style="top: 10px; left: 10px;"> NEW </span>
                        }
                        <img class="card-img-top" src=@(products[i].ImageUrl ?? "/Content/product-placeholder.png") alt="Card image cap">
                        <div class="card-body py-3 px-4">
                            <h5 class="card-title mb-0">@products[i].ProductName</h5>
                            <hr />
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0 font-weight-bold">$@products[i].Price</p>
                                <ul class="list-unstyled list-inline my-0">
                                    @for (int j = 0; j < products[i].Rating / 2; j++)
                                    {
                                        <li class="list-inline-item mx-0"><i class="fas fa-star"></i></li>
                                    }
                                    @if (products[i].Rating % 2 != 0)
                                    {
                                        <li class="list-inline-item mx-0"><i class="fas fa-star-half-alt"></i></li>
                                    }
                                    @for (int j = 0; j < (10 - products[i].Rating) / 2; j++)
                                    {
                                        <li class="list-inline-item mx-0"><i class="far fa-star"></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>